html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-family: "Helvetica, Arial, Sans-serif";
    font-size: 20px;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: red;
    transition: 0.3s;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    z-index: 2;
}

nav img {
    padding: 10px 10px;
    padding-right: 100px;
    display: block;
    position: relative;
    float: left;
}

nav ul {
    padding-top: 35px;
}

nav ul li {
    font-family: "Times New Roman", Helvetica, sans-serif;
    font-weight: bold;
    font-size: 24px;
    display: inline-block;
    padding-right: 1.5em;
}

.banner-photo {
    margin-top: 100px;
    height: 470px;
    background-image: url('Resources/images/Tokyo3-skyline-banner.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
}

#new.banner-photo {
    background-image: url('Resources/images/ramiel-banner.jpg');
}

.banner-header {
    color: #FFF;
    font-family: "Helvetica, Arial, Sans-serif";
    font-weight: bold;
    font-size: 80px;
    text-shadow: 4px 4px black;
    position: relative;
    margin-left: 25px;
    margin-top: 350px;
}

h1 {
    color: #FFF;
    font-family: "Helvetica, Arial, Sans-serif";
    font-weight: bold;
    font-size: 50px;
    text-shadow: 4px 4px black;
    position: relative;
    margin-left: 10px;
    margin-top: 400px;
}

h2 {
    font-family: "Helvetica, Arial, Sans-serif";
    font-weight: bold;
    font-size: 50px;
    margin-left: 10px;
    margin-top: 40px;
    margin-bottom: 15px;
}

h3 {
    font-weight: bold;
}

footer {
    font-family: "Helvetica, Arial, Sans-serif";
    font-size: 25px;
    position: relative;
    margin-left: 10px;
    margin-top: 40px;
}

p {
    position: relative;
    margin-left: 10px;
}

.container {
    margin: 0 auto;
    margin-top: 40px;
    padding: 0 60px;
}

#information {
    border-top: 10px solid #e9b31f;
    border-left: 13px solid #e9b31f;
    margin-bottom: 130px;
    padding: 20px 10px;
    color: #e9b31f;
    position: relative;
    background-color: #ffffff;
}

#information h2 {
    font-size: 25px;
    margin-top: 12px;
}

#information p {
    color: black;
    font-size: 16px;
    font-weight: bold;
    padding-top: 5px;
}

.highlights {
    display: flex;
    position: relative;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 1.5em;
    width: 100%;
}

.highlight-item {
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    flex-direction: column;
    margin: 10px;
    overflow: hidden;
}

.highlight-img {
    width: 100%;
    height: 60%;
    flex-grow: 1;
    flex-shrink: 1;
}

.highlight-txt {
    height: 40%;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 15%;
    flex-wrap: wrap;
    border-left: 10px solid #e5e5e5;
    border-bottom: 10px solid #e5e5e5;
    overflow-x: hidden;
    margin-top: 18px;
    color: #222633;
    line-height: 1.3;
    flex-grow: 1;
    flex-shrink: 1;
}

.highlight-txt:hover {
    border-color: black;
    cursor: pointer;
}

.event-calendar {
    display: flex;
    width: 100%;
    overflow-x: scroll;
    margin-top: 2%;
}

.event-item {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    flex-shrink: 0;
    margin: 10px;
    margin-left: 20px;
    border-bottom: 20px solid #e5e5e5;
}

.event-item:hover {
    border-color: gray;
    cursor: pointer;
}

.event-img {
    flex-shrink: 0;
    height: 400px;
    width: 250px;
    overflow-x: hidden;
}

.event-txt {
    position: relative;
    margin-top: -35px;
    margin-left: 5%;
    font-size: 2rem;
    color: white;
    overflow-x: hidden;
}

#todo.banner-photo {
    background-image: url('Resources/images/nerv-hq.png');
}

.todo-box {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: space-around;
    margin-top: 1.5em;
    width: 100%;
}

.todo-item {
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    flex-direction: column;
    flex-shrink: 1;
    margin: 10px;
}

.todo-img {
    width: 350px;
    height: 225px;
    flex-grow: 1;
    flex-shrink: 1;
}

.todo-img:hover {
    cursor: pointer;
}

.todo-txt {
    position: relative;
    text-align: center;
    font-size: 2rem;
    flex-shrink: 1;
    color: white;
    text-shadow: 2px 2px black;
    top: -50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#tips h2 {
    margin-left: 2.5%;
}

.tips-box {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content:center;
    vertical-align: middle;
    margin-top: 1.5em;
    width: 100%;
}

.tips-item {
    width: 300px;
    height: 200px;
    display: inline;
    border-left: 10px solid #e5e5e5;
    border-top: 10px solid #e5e5e5;
    padding: 20px 5px 0px 20px;
    align-items: center;
    vertical-align: middle;
    justify-content: space-around;
    flex-direction: column;
    flex-shrink: 1;
    margin: 20px;
}

.tips-img {
    display: inline;
    flex-grow: 1;
    flex-shrink: 1;
}

.tips-item:hover {
    cursor: pointer;
    border-color: black;
}

.tips-txt {
    vertical-align: middle;
    display: inline-flex;
    text-align: center;
    font-size: 1.5rem;
    flex-shrink: 1;
    color: black;
}

@media screen and (max-width: 750px) {
    h1, .banner-header {
      margin-top: 300px;
    }

    .banner-header {
        font-size: 4rem;
    }

    nav ul {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    nav ul li {
        padding-right: 10px;
        font-size: 15px;
    }

    nav img {
        height: 55px;
        width: 55px;
        padding-right: 10px;
        display: block;
        align-items: center;
    }

    #events h2 {
        text-align: center;
    }

    .event-img {
        height: 200px;
        width: 150px;
    }
  }

@media screen and (max-width: 300px) {
    h1, .banner-header {
      margin-top: 250px;
    }
  }